// HuddleUp
color: '#1C274C';
 fontSize: 40;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Pilates anyone?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Looking for a group of two-three people to work out with!
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Ping Pong?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Looking for a group of two-three people to work out with!
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Fan of FIFA?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// I have three consoles and we can play for about an hour in some conference room.
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Coffee Chat?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Anyone wanna hang out for a coffee break? 
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Pilates anyone?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Looking for a group of two-three people to work out with!
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Pilates anyone?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Looking for a group of two-three people to work out with!
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Pilates anyone?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// Looking for a group of two-three people to work out with!
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 1 hour
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// In for painting together?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// I have 4 canvas boards and some supplies. First come first serve + $15 for a board.
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// US - Natick, LakeSide
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// In 15 minutes
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// @math_bud1234:
color: '#FF8139';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Ultimate Frisbee?
color: 'black';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// In for any other outdoor game too - let’s make use of the quad toys box!
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// 3 people are interested
color: 'black';
 fontSize: 10;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
