// Select categories you are interested in ->
color: 'black';
 fontSize: 32;
 fontFamily: 'Inter';
 fontWeight: '600';
 wordWrap: 'break-word'
---
// This helps us personalize your feed and send suitable recommendations!
color: 'black';
 fontSize: 24;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Workout
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Crafts
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Video Games
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Art
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Coffee Chats
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Outdoor Sports
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Ping Pong
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Board Games
color: 'black';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Proceed
color: 'white';
 fontSize: 24;
 fontFamily: 'Inter';
 fontWeight: '500';
 wordWrap: 'break-word'
